<header>
  <div class="header">
    <div class="brand">
      <div class="logo">
        <img src="../../assets/logo3.png" alt="">
      </div>
    </div>
    <nav>
      <div class="tile">
        <h4 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">Menu</h4>
      </div>
      <div class="tile">
        <h4 routerLinkActive="active" routerLink="special-deals">Specials</h4>
      </div>
      <div class="tile">
        <h4 routerLinkActive="active" routerLink="about-us">About Us</h4>
      </div>
      <div class="tile">
        <h4 routerLinkActive="active" routerLink="contact-us">Contact Us</h4>
      </div>
    </nav>
  </div>
</header>
