<header>
  <div class="header">
    <div class="logo">
      <div class="logo-border"> </div>
      <div class="logo-text"> MANNAT </div>
        <!-- <img src="../../assets/logo3.png" alt=""> -->
    </div>
    <div class="mobile-nav">
      <img src="../../assets/nav.png" alt="">
    </div>
    <nav>
      <div class="tile">
        <h4 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">Welcome</h4>
      </div>
      <div class="tile">
        <h4 routerLinkActive="active"  routerLink="menu">Menu</h4>
      </div>
      <div class="tile">
        <h4 routerLinkActive="active" routerLink="special-menu">Specials</h4>
      </div>
      <div class="tile">
        <h4 routerLinkActive="active" routerLink="about-us">About Us</h4>
      </div>
      <div class="tile">
        <h4 routerLinkActive="active" routerLink="contact-us">Contact Us</h4>
      </div>
    </nav>
    <div class="header-contact">
      <span class="fas fa-phone" data-fa-transform="rotate-90"></span>
      <a href="tel:+1-98152-16710">98152-16710</a></div>
  </div>
</header>
