
<footer>
  <div class="footer">
    <div class="footer-holder">
      <div class="row">
        <h3>Address</h3>
        <h6>241 Model town</h6>
        <h6>Jalandhar, 144001</h6>
        <h6>Punjab</h6>
      </div>
      <div class="row">
        <h3>Hours</h3>
        <h6>Mon to Sat: 10am - 12pm</h6>
        <h6>Sun: Closed</h6>
      </div>
      <div class="row">
        <h3>Menu</h3>
        <h5>Specials</h5>
        <h5>Gallary</h5>
      </div>
      <div class="row">
        <h3>About</h3>
        <h5>Our Story</h5>
        <h5>Contact Us</h5>
      </div>
    </div>
  </div>
</footer>
