<footer>
  <div class="footer">
    <div class="footer-holder">
      <div class="detail">
        <h3>Address</h3>
        <h6>241 Model town</h6>
        <h6>Jalandhar, 144001</h6>
        <h6>Punjab</h6>
      </div>
      <div class="detail">
        <h3>Hours</h3>
        <h6>Mon to Wed: <b>12am - 10pm</b></h6>
        <h6>Thu to Sat: <b>12am - 12pm</b></h6>
        <h6>Sun: Closed</h6>
      </div>
      <div class="link">
        <h3>Menu</h3>
        <h5 routerLink="special-menu">Specials</h5>
        <h5 routerLink="menu">Gallary</h5>
      </div>
      <div class="link">
        <h3>About</h3>
        <h5 routerLink="about-us">Our Story</h5>
        <h5 routerLink="contact-us">Contact Us</h5>
      </div>
      <div class="icons">
        <i class="fab fa-facebook fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
      </div>
    </div>
  </div>
</footer>
