<div class="page-holder">
  <div class="content-holder">
    <div class="about-square">
      <div class="about-title">
        <div class="title">
          <h2>About us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam tempore natus ullam a. Consequuntur labore, vero, beatae impedit non mollitia ipsam. Quo autem a temporibus placeat. Id quaerat ipsa atque dolores pariatur, delectus itaque numquam sint adipisci laborum provident consequuntur!</p>
        </div>
      </div>
      <div class="owner-image">
        <div class="image">
          <img src="../../assets/restaurant/owners.jpg" alt="">
        </div>
        <div class="info">
          <h5>Davinder Singh</h5>
          <a href="tel:+1-98152-16710">Ph: 98152-16710</a>
        </div>
        <div class="info">
          <h5>Dilbag Singh</h5>
          <a href="tel:+1-90566-87723">Ph: 90566-87723</a>
        </div>
      </div>
    </div>
    <div class="about-square">
      <div class="icon">
        <h4>Satisfaction</h4>
        <i class="far fa-thumbs-up"></i>
        <p>The only reason we are working hard to provide you the best quality food and to win your approvel.</p>
      </div>
      <div class="icon">
        <h4>Healthy</h4>
        <i class="fab fa-gratipay"></i>
        <p>We use organic, natural and house mix ingredients to make healthy food.</p>
      </div>
      <div class="icon">
        <h4>Love</h4>
        <i class="fas fa-smile"></i>
        <p>We make everything with lots of love. Lets your friends and family knows about our service and show us your love.</p>
      </div>
    </div>
    <div class="about-square">
      <div class="gallary">
        
      </div>
    </div>
  </div>
</div>
