<div class="page-holder">
  <div class="content-holder">
    <div class="about-square">
      <div class="about-title">
        <div class="title">
          <h2>About us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam tempore natus ullam a. Consequuntur labore, vero, beatae impedit non mollitia ipsam. Quo autem a temporibus placeat. Id quaerat ipsa atque dolores pariatur, delectus itaque numquam sint adipisci laborum provident consequuntur!</p>
        </div>
      </div>
      <div class="about-image">
        <img src="../../assets/restaurant/about-us.jpg" alt="">
        <div class="info">
          <h5></h5>
        </div>
      </div>
    </div>
  </div>
</div>
