agm-map {
  height: 500px;
}

.contact
  float left
  width 600px
  margin 20px 600px 20px 0
  padding 0

  h2
    float left
    text-align center
    width 400px
    margin 0 0 30px 0
    font-weight 700
    font-size 52px
    line-height 52px
    color $heading

  p
    float left
    width 600px
    font-weight 400
    font-size 18px
    line-height 26px

.contact-content
  float left
  width 1200px
  padding 0
  margin 0 0 40px 0

.contact-info
  float left
  width 330px
  margin 0 10px 0 0
  padding 0

  h3
    float left
    width 280px
    margin 0 0 20px 50px
    font-weight 400
    font-size 26px
    line-height 29px
  h5
    float left
    width 100%
    margin 0 0 10px 0
    font-weight 300
    font-size 17px
    line-height 19px

  .phone
    float left
    width 180px
    margin 0 0 0 15px
    border $border
    border-radius 8px
    background $button
    p
      float left
      width 100%
      margin 0
      padding 10px 0
      text-align center
      font-weight 600
      font-size 24px
      line-height 26px
      color $white
      letter-spacing 1.5px

.contact-form
  float left
  width 518px
  margin 0
  padding 25px
  background $background-light
  border $border
  border-radius 6px

  input,textarea
    float left
    width 466px
    font-size 19px
    line-height 44px
    border $border-light
    background $white
    padding 0 0 0 12px
    margin 0 0 15px 0
  textarea
    height 120px

  button
    float left
    width 100%
    font-size 24px
    line-height 34px

.map
  float left
  width 1198px
  border $border-light
  margin 0 0 20px 0
