<div class="page-holder">
  <div class="content-holder">
    <div class="contact">
      <div class="contact-holder">
        <h2>Contact Us</h2>
        <p>Contact us to book your reservation or to talk about catering a party. We look forward to hearing from you and serving you the best Indian restaurant food in Jalandhar.</p>
      </div>
      <div class="contact-content">
        <h3>Info</h3>
        <h5>Email: sagardhot@gmail.com</h5>
        <h5>241 Modeltown, Jalandhar</h5>
        <div class="phone">
          <p>98989-89898</p>
        </div>

        <h3>Hours</h3>
        <h5>Mon to Wed: 12am - 10pm</h5>
        <h5>Thu to Sat: 12am - 12pm</h5>
        <h5>Sun: Closed</h5>
      </div>
    </div>
    <div class="contact">
      <div class="contact-content">
        <h1>Email us Now to Get in Touch</h1>
      </div>
      <div class="contact-form">
          <form action="">
            <input type="text" name="Name" placeholder="Name">
            <input type="text" name="Email" placeholder="Email">
            <textarea name="message" rows="8" placeholder="Message" cols="80"></textarea>
            <button class="btn btn-primary">Send Message</button>
          </form>
      </div>
    </div>
    <div class="map">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom] ="zoom" [disableDefaultUI]="false" [zoomControl]="false">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
