<div class="page-holder">
  <div class="content-holder">
    <h1>Menu</h1>
    <div class="menu">
      <div class="menu-slider"></div>
      <div class="menu-holder">
        <div class="menu-box"  *ngFor="let menu of menu.food">
          <h2> {{ menu.title }}</h2>
          <div class="menu-item" *ngFor="let item of menu.item">
            <h3> {{ item.name }}</h3>
            <p>{{ item.desc }}</p>
            <h6>{{ item.price }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
