<div class="page-holder">
  <div class="content-holder">
    <div class="menu">
      <h1>Our Menu</h1>
      <div class="menu-slider">
        <app-carousel></app-carousel>
      </div>
      <div class="menu-holder">
        <div class="menu-box"  *ngFor="let menu of data.menu">
          <div class="menu-title">
            <h2> {{ menu.title }}</h2>
          </div>
          <div class="menu-item" *ngFor="let item of menu.item">
            <h3> {{ item.name }}</h3>
            <h6>{{ item.price| currency:'INR':'code' }}</h6>
            <p>{{ item.desc }}</p>
          </div>
        </div>
        <div class="menu-box"  >
          <div class="menu-title">
            <h2> {{ data.drinks.title }}</h2>
          </div>
          <div class="menu-item-small" *ngFor="let item of data.drinks.item">
            <h3> {{ item.name }}</h3>
            <h6>{{ item.price| currency:'INR':'code' }}</h6>
            <p>{{ item.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
