// $background = #e0f3ff
$background = #f4f2ed url(../../assets/brilliant.png) repeat
$light-background = #eef9ff
$background-texture = #917a65 url(../../assets/wine-cork.png) repeat
$background-form = rgba(#6b594a, 0.52)
$active = #917a65
$test = #e99f9f

$heading = #6b594a
$button = #e93f3f
$white = #fff
$border = 1px solid #5d574e
$border-dashed = 1px dashed #b8b8b8
$border-light = 1px solid #8e8b88
$font = #2b3036
$font-light = #535a61
