// $background = #e0f3ff
$background = #f4f2ed url(../../assets/texture/brilliant.png) repeat
$light-background = #eef9ff
$background-texture = #917a65 url(../../assets/texture/wine-cork.png) repeat
$background-light = rgba(#6b594a, 0.52)
$active = #917a65
$test = #e99f9f

$heading = #6b594a
$button = #9f0e0e
$white = #fff
$grey = #444242
$border = 1px solid #87837c
$border-dashed = 1px dashed #b8b8b8
$border-light = 1px solid #8e8b88
$font = #2b3036
$font-light = #535a61
$logo = #d5b577
$logo-dark = #2b2222

// test code below
$background-text =linear-gradient(to bottom,rgba(#917a65,2.5),transparent),url(../../assets/texture/wine-cork.png) repeat
// $background-image = linear-gradient(to bottom,rgba(#917a65,.9),transparent),url(../../assets/background/decor.jpg) repeat center center
// $background-image = radial-gradient(ellipse farthest-corner at 45px 45px , #917a65 0%, rgba(0, 0, 255, 0.06) 50%, #917a65 95%),url(../../assets/background/decor.jpg) repeat center center
$background-image = linear-gradient(to right, rgba(#917a65, 0.4), rgba(#917a65, .8)),url(../../assets/background/decor.jpg) repeat center center
$background-image-about = linear-gradient(to right, rgba(#917a65, 0.4), rgba(#917a65, .8)),url(../../assets/background/restaurant.jpg) repeat center center 
