header
  float left
  width 100%
  top 0
  padding 0
  margin 0
  background $background-texture
  border-bottom $border

  .header
    position relative
    width 1024px
    height 88px
    padding 0
    margin 0 auto

    .logo
      float left
      width 254px
      height 78px
      // background url(../../assets/tie.png)no-repeat
      padding 10px 0
      margin 0

    nav
      float right
      width 769px
      height 78px
      padding 0
      margin 0
      border-right #345

      .tile
        float left
        height 78px
        padding 0 30px 0 30px
        margin 10px 0 0 0
        border-left #333
        cursor pointer

        h4
          float left
          padding 0
          margin 18px 0 0 0
          font-style italic
          font-weight 500
          font-size 21px
          line-height 26px
          color #2b3036
          text-align center
          text-shadow #345
