header
  float left
  width 100%
  top 0
  padding 0
  margin 0
  background $background-texture
  border-bottom $border

  .header
    position relative
    width 1024px
    height 88px
    padding 0
    margin 0 auto

    .logo
      float left
      width 254px
      height 78px
      // background url(../../assets/tie.png)no-repeat
      padding 10px 0
      margin 0

    nav
      float right
      width 769px
      // height 78px
      padding 0
      margin 35px 0 0 0
      border-right #345

      .tile
        float left
        // height 78px
        padding 0
        margin 0 0 0 10px
        cursor pointer

        h4
          float left
          padding 10px 20px
          margin 0 0
          font-style italic
          font-weight 500
          font-size 21px
          line-height 26px
          color $font
          border-radius 3px
          text-align center

        h4:hover
        .active
          color $white
          background $active
          text-shadow 0.5px 0.5px #345
          -webkit-box-shadow 2px 2px 1px 0px rgba(0,0,0,0.75)
          -moz-box-shadow 2px 2px 1px 0px rgba(0,0,0,0.75)
          box-shadow 2px 2px 1px 0px rgba(0,0,0,0.75)

        h4:hover
          margin -1px 0 0 0
          -webkit-box-shadow 4px 4px 2px 0px rgba(0,0,0,0.75)
          -moz-box-shadow 4px 4px 2px 0px rgba(0,0,0,0.75)
          box-shadow 4px 4px 2px 0px rgba(0,0,0,0.75)
