@import "config.styl";
@import "base.styl";

@media (min-width: 20px)
  @import "320/header.styl";
  @import "320/block.styl";
  @import "320/home.styl";
  @import "320/footer.styl";

@media (min-width: 1024px)
  @import "1024/header.styl";
  @import "1024/block.styl";
  @import "1024/home.styl";
  @import "1024/menu.styl";
  @import "1024/about.styl";
  @import "1024/contact.styl";
  @import "1024/footer.styl";
