<div class="index-image">
    <div class="index-logo">
      <h1>MANNAT</h1>
      <span class="asterisk">*</span>
    </div>
</div>
<div class="page-holder">
  <div class="content-holder">
    <div class="square">
      <div class="square-two">
        <h2>Discover Our Menu</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio magnam repellat, pariatur ipsam, ipsa obcaecati qui optio nam commodi molestias perferendis perspiciatis fugiat dolor. Consectetur ipsam mollitia nisi ipsa quaerat laudantium in quibusdam nihil praesentium, eum incidunt suscipit aspernatur veritatis!</p>
        <div class="anchor">Go to Menu</div>
      </div>
      <div class="square-two">
        <app-carousel></app-carousel>
        <!-- <img src="../../assets/food/1.jpg" alt=""> -->
      </div>
    </div>

    <div class="square">
      <div class="square-three">
        <div class="square-image">
          <img src="../../assets/restaurant/special.jpg" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, constur adipisicing elit. Repudiandae velit sunt provident delectus.</p>
        <div class="submit">
          <h6>Special Menu</h6>
        </div>
      </div>
      <div class="square-three">
        <div class="square-image">
          <img src="../../assets/restaurant/contact-us.jpg" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, conseur adipisicing elit. Repudiandae velit sunt provident delectus.</p>
        <div class="submit">
          <h6>Contact Us</h6>
        </div>
      </div>
      <div class="square-three">
        <div class="square-image">
          <img src="../../assets/restaurant/about-us.jpg" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, conseur adipisicing elit. Repudiandae velit sunt provident delectus.</p>
        <div class="submit">
          <h6>About Us</h6>
        </div>
      </div>

    </div>

    <div class="square">
      <div class="square-two">
        <img src="../../assets/restaurant/reserve.jpg" alt="">
      </div>
      <div class="square-two">
        <h2>Reserve Now</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio magnam repellat, pariatur ipsam, ipsa obcaecati qui optio nam commodi molestias perferendis perspiciatis fugiat dolor. Consectetur ipsam mollitia nisi ipsa quaerat laudantium in quibusdam nihil praesentium, eum incidunt suscipit aspernatur veritatis!</p>
        <div class="anchor">Reserve Online </div>
      </div>
    </div>

  </div>
</div>
